@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300&family=Smooch&display=swap');

h1 {text-align: center;color: brown; font-family: 'Noto Serif', serif;font-weight: bold;}
h2 {text-align: center;color: blue;font-family: 'Noto Serif', serif}
caption {font-weight: bold;}

